.header {
  width: 320px;
  border-bottom: 1px solid #aaaaaa;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.header__logo {
  width: 77px;
  height: 30px;
}

.header__nav {
  display: none;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__lang {
  line-height: 1;
  border: 1px solid #aaaaaa;
  width: 50px;
  appearance: none;
  background: url('../assets/icons/arrow.svg') 32px/50% no-repeat;
  background-size: 9px 6px;
  border-radius: 4px;
  padding: 8px;
}

.header__theme {
  width: 26px;
  height: 26px;
}

.header__burger {
  position: relative;
  height: 20px;
}
.header__burger span,
.header__burger::before,
.header__burger::after {
  display: block;
  width: 30px;
  border: 1px solid #000000;
}

.header__burger::before,
.header__burger::after {
  position: absolute;
  content: '';
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}
